@font-face {
    font-family: platypi;
    src: url("../fonts/Platypi-VariableFont_wght.ttf");
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    color: white;
    background-image: url(../images/wallpaper-background.JPG);
    background-size: cover;
    background-attachment: fixed;
}

#main {
    display: inline-block;
    box-sizing: border-box;

    margin: auto;

    top: 250px;
    right: 20%;
    width: 60%;
    position: absolute;
}

header {
    background-color: rgba(182,11,193,0.8);
    padding: 30px 22%;
    font-family: platypi, serif;
    box-sizing: border-box;

    width: 100%;
    height: 200px;
    position: absolute;
}

header h1 {
    font-size: xx-large;
}


#product-section {
    background-color: rgba(45, 45, 45, 0.8);
    padding: 20px;
    border-bottom: 5px solid rgb(120, 120, 120);
    box-sizing: border-box;
}

#product-page-section {
    background-color: rgba(45, 45, 45, 0.8);
    padding: 20px;
    border-bottom: 5px solid rgb(120, 120, 120);
    box-sizing: border-box;
}

#products {
    box-sizing: border-box;
    overflow: hidden;
    height: 350px;
}

.card {
    display: inline-block;
    box-sizing: border-box;

    background-color: rgb(90, 90, 90);
    border: grey solid 3px;
    margin: 0px 10px 20px 0px;
    width: 200px;
    height: 330px;

    text-align: center;
    color: white;
    overflow: hidden;
}

.card h3 {
    font-size: medium;
    height: 80px;
    text-overflow: ellipsis;
}

.card img {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 5%;
}

#content {
    padding: 25px;
    background-color: rgba(45, 45, 45, 0.6);
}

h1, h2, h3 {
    font-family: platypi, serif;
}

a {
    color: rgb(215, 86, 224);
}