@font-face {
    font-family: platypi;
    src: url("../fonts/Platypi-VariableFont_wght.ttf");
}

@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(../images/wallpaper-horizontal.JPG);
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: rubik, Helvetica, sans-serif;
    overflow-y: scroll;
}
.principal {
    background-color: rgba(45, 45, 45, 0.6);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}
.container {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    color: white;
}
.box {
    margin-bottom: 15px;
}
label {
    margin-bottom: 5px;
    color: white;
}

#textarea label{
    display: block;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="number"], select, textarea {
    width: 100%; 
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

input[type="submit"], input[type="reset"] {
    background-color: rgb(181,88,253);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-image: linear-gradient(rgb(195, 0, 255), rgb(213, 75, 255));
    color: whitesmoke;
} 

#bottons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
